<div class="card">
    <div class="card-header">
        Editar empleado
    </div>
    <div class="card-body">
        <form [formGroup]="formularioEditar" (ngSubmit)="enviarDatos()" ngNativeValidate>
            <div class="mb-3">
              <label for="" class="form-label">Nombre</label>
              <input type="text" required
                class="form-control" formControlName="nombre" aria-describedby="helpId" placeholder="Escribe tu nombre">
                <div class="mb-3">
                  <label for="" class="form-label">Correo</label>
                  <input type="email" required
                    class="form-control" formControlName="correo" aria-describedby="helpId" placeholder="Escribe tu correo">
                </div>
            </div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-warning">Editar</button>
              <button type="button" class="btn btn-primary" routerLink="/listar-empleado">Cancelar</button>
            </div>
        </form>
    </div>
</div>